---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Austin Mueck";
const metaDescription = "Austin is a scenic designer based in Mesa, Arizona.";
const ogTitle = "Austin R. Mueck";
const ogType = "website";
const ogUrl = "http://www.austinmueck.com";
const ogImage = "http://www.example.com/image.jpg";
---

<MainLayout
  title={pageTitle}
  meta={metaDescription}
  ogTitle={ogTitle}
  ogType={ogType}
  ogUrl={ogUrl}
  ogImage={ogImage}
>
  <h1>Scenic Designer</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
    repudiandae dolores nam, quos atque excepturi voluptates eligendi eos
    consectetur beatae quia tempore veritatis. Magni iure similique nam labore!
    Officiis ipsa quibusdam hic corporis! Eos porro harum modi, excepturi
    officiis explicabo unde rem in velit atque, repudiandae illo incidunt veniam
    similique!
  </p>
</MainLayout>
