---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Home";
const metaDescription = "This is the home page of the website";
const ogTitle = "Home";
const ogType = "website";
const ogUrl = "http://www.example.com";
const ogImage = "http://www.example.com/image.jpg";
---

<MainLayout
  title={pageTitle}
  meta={metaDescription}
  ogTitle={ogTitle}
  ogType={ogType}
  ogUrl={ogUrl}
  ogImage={ogImage}
>
  <h1>{pageTitle}</h1>
</MainLayout>
