---
type Props = {
  description: string;
  date: string;
  location: string;
  writer: string;
  director: string;
  techDirector: string;
  coDesign: string;
  addMore: string;
};

const {
  description,
  date,
  location,
  writer,
  director,
  techDirector,
  coDesign,
  addMore,
} = Astro.props;
---

<details id="details" class="details__container--page">
  <summary class="summary"><em>Details</em></summary>
  <div class="details__content">
    <p class="details__content--item">{writer}</p>
    <p class="details__content--item">{director}</p>
    <p class="details__content--item">{date}</p>
    <p class="details__content--item">{description}</p>
    <p class="details__content--item">{location}</p>

    <p class="details__content--item">{techDirector}</p>
    <p class="details__content--item">{coDesign}</p>
    <p class="details__content--item">{addMore}</p>
  </div>
</details>

<script is:inline>
  window.onload = function () {
    const details = document.getElementById("details");

    document.addEventListener("click", function (event) {
      const isClickInside = details.contains(event.target);

      if (!isClickInside) {
        details.open = false;
      }
    });
  };
</script>

<style>
  .details__container--page {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    max-width: 12rem;
  }

  .summary {
    /* cursor: pointer; */
  }

  .details__content {
    position: absolute;
    max-width: 32rem;
    z-index: 222;
    background: var(--color__background);
    padding: 2rem 2rem;
    border: 1px solid var(--color__text);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }

  p.details__content--item {
    margin-bottom: 1rem;
  }
</style>
