---
//Pulls in the Navigation component -- Recives no props
import Navigation from "../components/Navigation.astro";
import "../styles/styles.css";
//defines the props that the page will recieve. These populate the meta tags per page.
const { title, meta, ogTitle, ogType, ogUrl, ogImage } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={meta} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:image" content={ogImage} />
  </head>
  <body>
    <div class="container__global--padding">
      <div class="mobile__header-global">
        <div class="mobile__header-col1">
          <h1>
            <a class="magic-hover magic-hover__square" href="/"
              >Austin R. Mueck</a
            >
          </h1>
          <em>Scenic Designer</em>
        </div>
      </div>

      <div class="layout__pageContainer">
        <header class="layout__sidebar-container">
          <Navigation />
        </header>
        <div class="layout__pageContent-container">
          <slot />
        </div>
      </div>
    </div>

    <div class="mobile__menu--trigger">
      <button class="menu-btn" role="button">MENU</button>
    </div>

    <div class="mobile__menu container__global--padding">
      <Navigation />
    </div>

    <script
      is:inline
      type="text/javascript"
      src="https://res.cloudinary.com/veseylab/raw/upload/v1684982764/magicmouse-2.0.0.cdn.min.js"
    ></script>

    <script is:inline type="text/javascript">
      document.addEventListener("contextmenu", (event) =>
        event.preventDefault()
      );

      options = {
        cursorOuter: "circle",
        hoverEffect: "circle-move",
        hoverItemMove: false,
        defaultCursor: false,
        outerWidth: 30,
        outerHeight: 30,
      };
      magicMouse(options);
    </script>
  </body><style>
    .mobile__header-col1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    .layout__pageContainer {
      display: flex;
      flex-direction: row;
    }

    .layout__sidebar-container {
      flex: 0 0 16rem;
    }

    .layout__pageContent-container {
      flex: 1 1 auto;
    }

    .mobile__menu--trigger {
      display: none;
      position: relative;
      z-index: 9999;
    }

    .mobile__menu {
      background-color: var(--color__background);
      display: none;
      position: fixed;
      height: 100vh;
      width: 100vw;
      z-index: 8888;
      top: 0;
      left: 0;
    }

    @media screen and (max-width: 1024px) {
      .layout__sidebar-container {
        display: none;
      }

      .mobile__menu--trigger {
        display: block;
      }
    }
  </style>

  <script is:inline>
    const mobileMenuTrigger = document.querySelector(".mobile__menu--trigger");
    const mobileMenu = document.querySelector(".mobile__menu");
    const menuButton = document.querySelector(".menu-btn"); // Select the button

    mobileMenuTrigger.addEventListener("click", () => {
      mobileMenu.classList.toggle("active");

      if (mobileMenu.classList.contains("active")) {
        mobileMenu.style.display = "block";
        menuButton.textContent = "Close"; // Change button text to "Close"
      } else {
        mobileMenu.style.display = "none";
        menuButton.textContent = "Menu"; // Change button text to "Menu"
      }
    });
  </script>
</html>
