---
//Pulls in the Navigation component -- Recives no props
import Navigation from "../components/Navigation.astro";
import "../styles/styles.css";

//defines the props that the page will recieve. These populate the meta tags per page.
const { title, meta, ogTitle, ogType, ogUrl, ogImage } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <title>{title}</title>
    <meta name="description" content={meta} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:image" content={ogImage} />
  </head>
  <body>
    <div class="container__global--padding">
      <div class="mobile__header-global">
        <div class="mobile__header-col1">
          <h1><a href="/">Portfolio Site</a></h1>
        </div>
      </div>

      <div class="layout__pageContainer">
        <header class="layout__sidebar-container">
          <Navigation />
        </header>
        <div class="layout__pageContent-container">
          <slot />
        </div>
      </div>
    </div>

    <div class="mobile__menu--trigger">
      <button class="menu-btn" role="button">MENU</button>
    </div>

    <div class="mobile__menu container__global--padding">
      <Navigation />
    </div>
  </body>
</html>

<style>
  .layout__pageContainer {
    display: flex;
    flex-direction: row;
  }

  .layout__sidebar-container {
    flex: 0 0 16rem;
  }

  .layout__pageContent-container {
    flex: 1 1 auto;
  }

  .mobile__menu--trigger {
    display: none;
    position: relative;
    z-index: 9999;
  }

  .mobile__menu {
    background-color: var(--color__background);
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 8888;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    .layout__sidebar-container {
      display: none;
    }

    .mobile__menu--trigger {
      display: block;
    }
  }
</style>

<script is:inline>
  const mobileMenuTrigger = document.querySelector(".mobile__menu--trigger");

  const mobileMenu = document.querySelector(".mobile__menu");

  mobileMenuTrigger.addEventListener("click", () => {
    mobileMenu.classList.toggle("active");

    if (mobileMenu.classList.contains("active")) {
      mobileMenu.style.display = "block";
    } else {
      mobileMenu.style.display = "none";
    }
    S;
  });
</script>
